* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  position: relative;
}

.main-container {
  width: 400px;
  margin: auto;
  padding-top: 5%;

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.main-container h2 {
  margin-bottom: -20px;
  text-decoration: underline;
}
