.mobile-button {
  font-size: 1.1rem;
  cursor: pointer;

  padding: 10px;
  color: #fff;
  background-color: cadetblue;
  border: none;
  border-radius: 10px;
}

.mobile-menu-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--main-color);
}

.mobile-menu-container > button {
  color: var(--letter-buttons-color);
  font-size: 2rem;
  font-weight: bolder;
  height: 30%;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

.mobile-button:hover,
.mobile-menu-container > button:hover {
  background-color: var(--secondary-color);
}

.mobile-menu-container > button:first-child {
  align-self: flex-end;
  height: 10%;
  padding: 20px;
}

.hide-overflow {
  overflow: hidden;
}
