:root {
  --letter-color: #333;

  --buttons-color: #222;
  --letter-buttons-color: #fff;

  --main-color: cadetblue;
  --secondary-color: rgb(69, 129, 131);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  position: relative;
}

@media (max-width: 800px) {
  .main-container {
    width: 350px;
  }

  .images-container img {
    width: 300px;
  }
}
