.main-container {
  width: 450px;
  margin: auto;
  padding-top: 2%;

  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}

.main-container h1 {
  margin-bottom: -70px;
  text-align: center;
}

.main-container h2 {
  margin-bottom: -60px;
  text-decoration: underline;
}

.main-container div:last-child {
  margin-bottom: 2%;
}

.author {
  align-self: flex-end;
  margin-right: 40px;
  font-size: 1.1rem;
}

.author > a {
  color: var(--main-color);
  text-decoration: none;
}

.author > a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
